<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href="/css/stylesheet.css" rel='stylesheet' type='text/css' />
    <link href="/css/menu.css" rel='stylesheet' type='text/css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.sticky-kit.js"></script>

    <script>
      $(document).ready(function() {
        $('.sticky').stick_in_parent();
      })(jquery);
    </script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <head/>

  <body>
    <header>
      <div class="inner">
        <h1>{{ page.title }}</h1>
      </div>
    </header>

    <div id="content-wrapper" class="clearfix">
      <div id="main-content">{{ content }}</div>

      <div id="sidebar" class="sticky">
        <div class="button">
          <img src="/images/download.svg"/>
          <a href="https://download.macgitver.org" class="download">Download</a>
        </div>

        <div class="button">
          <img src="/images/project-source.svg"/>
          <a href="https://github.com/macgitver/{{ page.project }}" class="download">The Code</a>
        </div>

        <div class="text-box">
          <p>The "{{ page.project }}" project is licensed under the GPLv2 open source license.</p>
          <p>© {{ 'now' | date: "%Y" }} Cunz RAD Ltd.</p>
        </div>
      </div>

    </div>

    {% include menu.html %}

  </body>
</html>
